#imgContainer {
    height: 600px;
    width: 800px;
    margin-top: 200px;
}

#bigImage {
    border-color: #FFA500;
    border-style: solid;
    visibility: hidden;
}

div.center {
    width: 80%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

#googleMap {
    height: 500px;
}

.fb-comments {
    visibility: hidden;
}
