body {
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

.block {
    width: 800px;
    margin: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block2 {
    width: 800px;
    margin: auto;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#dropbox {
    text-align: center;
    line-height: 100px;
    border: solid 1px;
    cursor: default;
}

#progressBar {
    width: 100%;
}

#message p {
    width: 100%;
    padding: 3px 10px 5px 10px;
    color: #fff;
}

#photoTable td img {
    border: 2px solid rgba(255, 255, 255, 0.00);
    cursor: pointer;
}

div.edit, div.delete {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #707;
    color: #fff;
    text-align: center;
    position: absolute;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

div.edit:hover, div.delete:hover {
    background-color: #077;
}

div.background {
    background-color: rgba(182, 255, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}

div.image {
    position: fixed;
    z-index: 2;
}

div.image table {
    border-collapse: collapse;
}

div.image table tr {
    height: 10px;
}

div.image table td:nth-child(1), div.image table td:nth-child(3) {
    width: 10px;
}

.loading {
    position: fixed;
    z-index: 2;
}
